.app {
    background-color:#000;
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:100vw;
    .container_app {
        display:flex;
        justify-content: center;
        align-items: center;
        width:100%;
        padding:20px 0 20px 0;
        color:#fff;
        flex-direction: column;

    }
}