.app {
    background-color:#000;
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:100vw;
    .container_app {
        display:flex;
        width:80vw;
        max-width:80vw;
        padding:20px 10vw 20px 10vw;
        color:#fff;
        justify-content: center;
    }
}