.create_meal {
    display:flex;
    width:100%;
    justify-content: space-evenly;
    input[type=text] {
        width:88%;
        outline:0px;
        padding:10px;
    }
    button {
        padding: 10px;
        border: 0px;
        outline: 0px;
        background-color: rgb(0, 156, 104);
        color: #fff;
        width:10%;
    }
}