.createmealmodal {
    position:fixed;
    display:flex;
    z-index:1002;
    width:100%;
    height:100%;
    align-items: center;
    justify-content: center;
    .createmealmodal_container{
        display:flex;
        
        padding:20px;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width:65%;
        background-color:#fff;
        padding:30px;
        position:relative;
        .close_modal {
            display:flex;
            align-items: center;
            justify-content: center;
            position:absolute;
            top:10px;
            right:10px;
            cursor:pointer;
            transition:all 0.3s;
            width:20px;
            height:20px;
            background-color:red;
            border-radius:50%;
            color:#fff;
            font-size:12px;
            font-weight:bold;
            &:hover {
                transform:scale(1.2);
                transition:all 0.3s;
            }
        }
        .foods_table {
            display:flex;
            width:90%;
            flex-direction:column;
            transition:all 0.3s;
            margin-bottom:20px;

           
            
            .table_header {
                font-size:12px;
                font-weight:bold;
                text-transform:uppercase;
                padding:10px;
                text-align:center;
                color:#000;
                background-color:rgb(85, 85, 85);
                &.table_header_totals {
                    background-color:#06e399;
                }
                
            }
            .table_itens {
                display:flex;
                justify-content: space-around;
                flex-wrap:wrap;
                
                
                background-color:rgb(194, 194, 194);
                padding:5px;
                &.table_itens_totals {
                    background-color:#b1ffe5;
                }
                .table_foods {
                    display:flex;
                    align-items: center;
                    flex-direction:column;
                    padding:5px;
                    label {
                        font-size:0.6rem;
                        color:#000;
                        font-weight:bold;
                    }
                    span {
                        font-size:1rem;
                        color:#000;
                        
                    }
                }
            }
        }
        .add_meal {
            display:flex;
            flex-direction:column;
            margin-bottom:30px;
            width:100%;
            justify-content: center;
            align-items: center;
            h3 {
                color:rgb(0, 156, 104);
            }
            .add_meal_container {
                display:flex;
                padding:10px;
                width:80%;
                align-items: center;
                justify-content: center;
                input[type=text],input[type=number] {
                    outline:0px;
                    padding:5px;
                }
                button {
                    padding: 10px;
                    border: 0px;
                    outline: 0px;
                    background-color: rgb(0, 156, 104);
                    color: #fff;
                }
            }
        }
        h4 {
            padding:0px;
            margin:0px;
        }
        .modal_list {
            margin-top:20px;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width:100%;
            .list_item {
                width:80%;
                padding:10px;
                margin-top:10px;
                border:1px solid rgb(0, 156, 104);
                color:rgb(0, 156, 104);
                text-align:center;
                cursor:pointer;
                transition:all 0.3s;
                position:relative;	
                .meal_count {
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    position:absolute;
                    background-color: #000;
                    color:#fff;
                    border-radius:50%;
                    width:10px;
                    height:10px;
                    font-size:10px;
                    padding:5px;
                    top:8px;
                    right:15px;

                }
                &:hover {
                    background-color:rgb(0, 156, 104);
                    color:#fff;
                    transition:all 0.3s;
                }
            }
        }

    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    z-index:1001
}