.filter {
    margin-top:30px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    input[type='text'], input[type='number'] {
        padding:10px !important;
        outline:0px;
        padding:5px;
        margin-top:10px;
        display:block;
    }
    .filter_input {
        display:flex;
        flex-direction: column;
        width:100%;
        label{
            display:block;
            margin-top:10px;
            font-size:12px;
            color:#fff;
        }
        
    }

    
}

@media(max-width:800px) {
    .filter{
        margin-top:20px;
        width:90%;
    }
}