.results {
    margin-top:20px;
    width:60%;
    .results_container {
        margin-top:20px;
        margin-bottom:20px;
    }
    .results_header {
        display:flex;
        flex-direction: column;
        .title {
            width:100%;
            display:flex;
            align-items:center;
            justify-content: center;
            background-color:#fff;
            
            h2 {
                padding:5px;
                margin:5px;
                font-size:0.9em;
                text-transform: uppercase;
                color:rgb(0, 156, 104);
                text-align:center;
                width:60%;
            }
        }
        .itens_container {
            display:flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            background-color:#eee;
            padding:20px;
            .itens {
                width:15%;
                text-align:center;
                color:#000;
                margin-bottom:20px;
                font-size:0.8rem;
                label {
                    display:block;
                    margin-bottom:5px;
                    font-weight:bold;
                    color:rgb(0, 156, 104);
                    font-size:0.8rem;
                }
                span {
                    font-size:1.0rem;
                    font-weight: 900;
                }
            }
        }

    }
}

@media(max-width:800px) {
    .results {
        margin-top:20px;
        width:90%;
    }
}
