.search {
    display:flex;
    flex-direction: column;
    width:60%;
    .search_container {
        display:flex;
        flex-direction: column;
    }
    label {
        display:block;
        margin-top:10px;
        font-size:12px;
    }
    form {
        display:flex;
        flex-direction: column;
    }
    input[type='text'], input[type='number'] {
        padding:10px !important;
        
        outline:0px;
        padding:10px;
        margin-top:10px;
    }
    button {
        padding:10px;
        border:0px;
        outline:0px;
        width:100%;
        margin-top:10px;
        background-color:rgb(0, 156, 104);
        color:#fff;
    }
    .results {
        margin-top:20px;
        .results_container {
            margin-top:20px;
            margin-bottom:20px;
        }
        .results_header {
            display:flex;
            
            .title {
                width:80%
            }
            .kcal {
                width:20%;
            }
            .protein {
                width:20%;
            }
        }
    }
}

@media(max-width:800px) {
    .search{
        margin-top:20px;
        width:90%;
    }
}